.footer {
    display: flex;
    flex-direction: row;
    >.footer-copyright {
        flex: 1;
        line-height: 40px;
        margin-right: 5px;
        >.year {
            vertical-align: top;
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
    }
}