@font-face {
    font-family: AnticDidone;
    font-display: swap;
    src: url('./fonts/AnticDidone-Regular.woff') format('woff'),
         url('./fonts/AnticDidone-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Dawning;
    font-display: swap;
    src: url('./fonts/DawningofaNewDay-Regular.woff') format('woff'),
         url('./fonts/DawningofaNewDay-Regular.ttf') format('truetype');
}