.navigation-bar {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: 10;
    overflow: visible;
    box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.2);
    >.navigation-bar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}