@import './color.scss';

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: auto;
}

button{
    outline: none;
    // Firefox outline
    &::-moz-focus-inner {
        border: 0;
    }
}