:root{
    --color-dark-blue : rgb(20, 104, 111);
    --color-light-blue : rgb(170, 202, 195);
    --color-beige : rgb(234, 225, 217);
    --color-almost-black : rgb(50, 50, 50);
    --color-dark-grey : rgb(160, 160, 160);
    --color-light-grey : rgb(200, 200, 200);
    --color-main-blue : rgb(127, 177, 179);
    --color-dark-green : rgb(80, 105, 96);
    --color-brown : rgb(105, 76, 51);
    --color-pastel-green : rgb(182, 202, 195);
    --color-yellow : rgb(206, 134, 67);
}